.navBar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #001103;
    border-radius: 5px;
    /*box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .1%);*/
}
.link {
    position: relative;
    color: white;
    margin: 0 30px 0 0;
}
.link:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 20px;
    color: white;
    right: -15px;
    background-color: white;
}
.link:hover {
    color: greenyellow;
}
